@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  display: inline-block;
  vertical-align: bottom;
  min-height: 810px;
  width: 100%;
  padding: 10px 2px;
  background: rgba(247, 247, 247, 0);
  position: relative;
  top: 0px;
  background-image: url("https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.footer {
  background: rgba(247, 247, 247, 0.7);
  position: relative;
  top: 0px;
}

.title {
  width: 35%;
  height: 100%;
  float: left;
}

#main-title {
  font-size: 350%;
  position: relative;
  top: 20px;
  left: 20px;
  padding-bottom: 20px
}

#explore {
  font-size: 170%;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

#user-logged-in {
  font-size: 200%;
  position: relative;
  top: 0px;
  left: 20px
}

#listing-button {
  position: relative;
  top: 10px;
  left: 20px;
}

.add-listing {
  display: none;
  position: relative;
  left: 20px;
}

/* -------- DROP DOWN LIST --------- */

.drop-down-container {
  position: relative;
  top: 30px;
  right: 30px;
  height: auto;
  width: auto;
  float: right;
}

.dropbtn {
  border: none;
  cursor: pointer;
  position: relative;
  min-width: 160px;
  min-height: 50px;
  background: rgba(247, 247, 247, 0);
  font-weight: 500;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: #F7F7F7;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-btn {
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: rgb(56, 58, 61);
  border: 1pt thin black;
  color: white;
}

.dropbtn:hover {
  background-color: rgb(56, 58, 61);
  color: white;

}

.drop-down-container:hover .dropdown-content {
  display: block;
}

.drop-down-container:hover .dropbtn {
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

/* ------------------------ */

.user-buttons {
  width: 65%;
  height: 100%;
  float: right;
  text-align: right;
}

.log-in-buttons {
  position: relative;
  top: 20px;
  right: 10px;
}

.log-in-forms {
  position: relative;
  top: 20px;
}

#log-in, #sign-up {
  display: none;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #eee;
}

.display-listings {
  display: flex;
  flex-wrap: nowrap;
  
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  top: 0px;
}

.listing {
  margin: 10px;
  background-color: rgba(248, 248, 248, 0);
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  border: 2px solid rgb(black);
  border: 0px solid;
  padding: 10px;
  box-shadow: 0px 5px 5px 5px #888888;
}

.listing-outline {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
}

.extra {
  display: none;
  
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 20px;
  text-align: left;
  justify-content: space-between;
  background: rgb(56, 58, 61);
  color: white;
  border-radius: 20px;
}

#book-space {
  height: 100%;
  background-color: rgb(216, 212, 212);
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
}

.image {
  margin: 10px;
}

.cover {
  object-fit: cover;
  width: 250px;
}

.overview {
  padding-left: 10px;
}
