@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  background: #F7F7F7;
  position: relative;
  top: 0px;
  height: auto;
}

.footer {
  background: #F7F7F7;
}

.title {
  width: 35%;
  height: 100%;
  float: left;
}

#main-title {
  font-size: 350%;
  position: relative;
  top: 20px;
  left: 20px;
  padding-bottom: 20px
}

#user-logged-in {
  font-size: 200%;
  position: relative;
  top: 0px;
  left: 20px
}

#listing-button {
  position: relative;
  top: 10px;
  left: 20px;
}

.add-listing {
  position: relative;
  left: 20px;
}

.user-buttons {
  width: 65%;
  height: 100%;
  float: right;
  text-align: right;
}

.log-in-buttons {
  position: relative;
  top: 20px;
  right: 10px;
}

.log-in-forms {
  position: relative;
  top: 20px;
}

#log-in, #sign-up {
  display: none;
}

.log-in-button, .sign-up-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #eee;
}
.info {
  color: dodgerblue;
}

.display-listings {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(56, 58, 61);
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  top: 0px;
  animation: burn 1.5s linear infinite alternate;
  -webkit-animation: burn 1.5s linear infinite alternate;
  -moz-animation: burn 1.5s linear infinite alternate;
  -ms-animation: burn 1.5s linear infinite alternate;
}

.listing {
  margin: 10px;
  background-color: rgb(216, 212, 212);
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  border: 2px solid rgb(190, 189, 189)
}

.listing-outline {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
}

.extra {
  padding: 10px 20px;
}

.image {
  margin: 10px;
}

.cover {
  object-fit: cover;
  width: 250px;
}

.overview {
  padding-left: 10px;
}


@keyframes burn {
    from {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .4em #FFAE34, .2em -.3em .3em #EC760C, -.2em -.4em .4em #CD4606, .1em -.5em .7em #973716, .1em -.7em .7em #451B0E;
    }
    45% {
        text-shadow: .1em -.2em .5em #FEFCC9, .15em 0 .4em #FEEC85, -.1em -.25em .5em #FFAE34, .15em -.45em .5em #EC760C, -.1em -.5em .6em #CD4606, 0 -.8em .6em #973716, .2em -1em .8em #451B0E;
    }
    70% {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .6em #FFAE34, .2em -.3em .4em #EC760C, -.2em -.4em .7em #CD4606, .1em -.5em .7em #973716, .1em -.7em .9em #451B0E;
    }
    to {
        text-shadow: -.1em -.2em .6em #FEFCC9, -.15em 0 .6em #FEEC85, .1em -.25em .6em #FFAE34, -.15em -.45em .5em #EC760C, .1em -.5em .6em #CD4606, 0 -.8em .6em #973716, -.2em -1em .8em #451B0E;
    }
}

@-webkit-keyframes burn {
    from {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .4em #FFAE34, .2em -.3em .3em #EC760C, -.2em -.4em .4em #CD4606, .1em -.5em .7em #973716, .1em -.7em .7em #451B0E;
    }
    45% {
        text-shadow: .1em -.2em .5em #FEFCC9, .15em 0 .4em #FEEC85, -.1em -.25em .5em #FFAE34, .15em -.45em .5em #EC760C, -.1em -.5em .6em #CD4606, 0 -.8em .6em #973716, .2em -1em .8em #451B0E;
    }
    70% {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .6em #FFAE34, .2em -.3em .4em #EC760C, -.2em -.4em .7em #CD4606, .1em -.5em .7em #973716, .1em -.7em .9em #451B0E;
    }
    to {
        text-shadow: -.1em -.2em .6em #FEFCC9, -.15em 0 .6em #FEEC85, .1em -.25em .6em #FFAE34, -.15em -.45em .5em #EC760C, .1em -.5em .6em #CD4606, 0 -.8em .6em #973716, -.2em -1em .8em #451B0E;
    }
}

@-moz-keyframes burn {
    from {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .4em #FFAE34, .2em -.3em .3em #EC760C, -.2em -.4em .4em #CD4606, .1em -.5em .7em #973716, .1em -.7em .7em #451B0E;
    }
    45% {
        text-shadow: .1em -.2em .5em #FEFCC9, .15em 0 .4em #FEEC85, -.1em -.25em .5em #FFAE34, .15em -.45em .5em #EC760C, -.1em -.5em .6em #CD4606, 0 -.8em .6em #973716, .2em -1em .8em #451B0E;
    }
    70% {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .6em #FFAE34, .2em -.3em .4em #EC760C, -.2em -.4em .7em #CD4606, .1em -.5em .7em #973716, .1em -.7em .9em #451B0E;
    }
    to {
        text-shadow: -.1em -.2em .6em #FEFCC9, -.15em 0 .6em #FEEC85, .1em -.25em .6em #FFAE34, -.15em -.45em .5em #EC760C, .1em -.5em .6em #CD4606, 0 -.8em .6em #973716, -.2em -1em .8em #451B0E;
    }
}

@-ms-keyframes burn {
    from {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .4em #FFAE34, .2em -.3em .3em #EC760C, -.2em -.4em .4em #CD4606, .1em -.5em .7em #973716, .1em -.7em .7em #451B0E;
    }
    45% {
        text-shadow: .1em -.2em .5em #FEFCC9, .15em 0 .4em #FEEC85, -.1em -.25em .5em #FFAE34, .15em -.45em .5em #EC760C, -.1em -.5em .6em #CD4606, 0 -.8em .6em #973716, .2em -1em .8em #451B0E;
    }
    70% {
        text-shadow: -.1em 0 .3em #FEFCC9, .1em -.1em .3em #FEEC85, -.2em -.2em .6em #FFAE34, .2em -.3em .4em #EC760C, -.2em -.4em .7em #CD4606, .1em -.5em .7em #973716, .1em -.7em .9em #451B0E;
    }
    to {
        text-shadow: -.1em -.2em .6em #FEFCC9, -.15em 0 .6em #FEEC85, .1em -.25em .6em #FFAE34, -.15em -.45em .5em #EC760C, .1em -.5em .6em #CD4606, 0 -.8em .6em #973716, -.2em -1em .8em #451B0E;
    }
}
