@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  background: #F7F7F7;
  position: relative;
  top: 0px;
  height: auto;
}

.footer {
  background: #F7F7F7;
}

.title {
  width: 35%;
  height: 100%;
  float: left;
}

#main-title {
  font-size: 350%;
  position: relative;
  top: 20px;
  left: 20px;
  padding-bottom: 20px
}

#user-logged-in {
  font-size: 200%;
  position: relative;
  top: 0px;
  left: 20px
}

#listing-button {
  position: relative;
  top: 10px;
  left: 20px;
}

.add-listing {
  display: none;
  position: relative;
  left: 20px;
}

.user-buttons {
  width: 65%;
  height: 100%;
  float: right;
  text-align: right;
}

.log-in-buttons {
  position: relative;
  top: 20px;
  right: 10px;
}

.log-in-forms {
  position: relative;
  top: 20px;
}

#log-in, #sign-up {
  display: none;
}

.log-in-button, .sign-up-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #eee;
}
.info {
  color: dodgerblue;
}

.display-listings {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(56, 58, 61);
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  top: 0px;
}

.listing {
  margin: 10px;
  background-color: rgb(216, 212, 212);
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  border: 2px solid rgb(190, 189, 189)
}

.listing-full {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
}

.image {
  margin: 10px;
}

.cover {
  object-fit: cover;
  width: 250px;
}

.overview {
  padding-left: 10px;
}
