@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-attachment: fixed
}

.header {
  padding: 10px 20px;
  background: rgba(247, 247, 247, 0);
  position: relative;
  top: 0px;
  height: auto;
}

.footer {
  position: relative;
  top: 0px;
  color: white;
}

.title {
  width: 35%;
  height: 100%;
  float: left;
}

#main-title {
  font-size: 350%;
  position: relative;
  top: 20px;
  left: 20px;
  padding-bottom: 20px
}

#myaccount {
  font-size: 200%;
  position: relative;
  top: 15px;
  left: 20px;
  bottom: 20px;
  padding-bottom: 20px;
}

.add-listing {
  display: none;
  position: relative;
  left: 20px;
}

/* -------- DROP DOWN LIST --------- */

.drop-down-container {
  position: relative;
  top: 30px;
  right: 30px;
  height: auto;
  width: auto;
  float: right;
}

.dropbtn {
  border: none;
  cursor: pointer;
  position: relative;
  min-width: 160px;
  min-height: 50px;
  background-color: rgb(255, 255, 255, 0);
  font-weight: 500;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: #F7F7F7;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-btn {
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: rgb(56, 58, 61);
  border: 1pt thin black;
  color: white;
}

.dropbtn:hover {
  background-color: rgb(56, 58, 61);
  color: white;

}

.drop-down-container:hover .dropdown-content {
  display: block;
}

.drop-down-container:hover .dropbtn {
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}


/* ------------------------ */

.log-in-forms {
  position: relative;
  top: 20px;
}

#log-in, #sign-up {
  display: none;
}

.log-in-button, .sign-up-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #eee;
}

/* -------- LISTINGS CONTAINER --------- */

.listing-container {
  background-color: rgb(255, 255, 255, 0);
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  top: 0px;
}

.listing-navigation {
  background-color: rgb(255, 255, 255, 0);
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.listing-navigation > div {
  position: relative;
}

.mylistings {
  background-color: rgb(255, 255, 255, 0);
  width: 85%;
  height: auto;
}

#listings {
  display: block;
}

#bookings {
  display: none;
}

#trips {
  display: none;
}

.navbtn {
  background-color: rgb(255, 255, 255, 0.5);
  width: 90%;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 15px;
}

.navbtn:hover {
  background-color: rgb(56, 58, 61);
  border: 1pt thin black;
  color: white;
}

/* ------------------------ */

/* -------- LISTINGS OBJECTS --------- */

.display-listings {
  display: flex;
  flex-wrap: nowrap;
  
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  top: 0px;
}

.listing {
  margin: 10px;
  background-color: rgb(255, 255, 255, 0.9);
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  border: 2px solid rgb(190, 189, 189)
}

.listing-full {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
}

.image {
  width: 20%;
  margin: 10px;
}

.cover {
  object-fit: cover;
  width: 250px;
}

.overview {
  display: inline-block;
  width: 60%;
  padding-left: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 200px
}

.accept {
  float: right;
  width: 20%;
}
