

<script type="text/javascript">   
    function Redirect() 
    {  
        window.location="/"; 
    } 
    document.write("You will be redirected back to the homepage in 5 seconds"); 
    setTimeout('Redirect()', 3000);   
</script>

<h1><div id="booking-confirmation-page">Booking made. Waiting for confirmation.<div></h1>