  <style>
body{
  text-align: center;
  background: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/24/18/aircraft-istock-ipopba.jpg?w968);
  background-size: 110% 770ç√%;
  background-repeat: no-repeat;
  color: white
}
  </style>

<script type="text/javascript">   
    function Redirect() 
    {  
        window.location="/"; 
    } 
    document.write("You will be redirected back to the homepage in 5 seconds"); 
    setTimeout('Redirect()', 3000);   
</script>

<h1><div id="booking-confirmation-page">Booking made. Waiting for confirmation.<div></h1>

</body>